

<div class="sidebar">
            
    Patient ID:  <%= patient['id'] %>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
    <a href="/treatment_notes">Patient's History</a><br>
    <a href="/update">Treatment Notes</a><br>
    <a href="/new_pt">New Patient</a><br>
    <a href="/delete">Remove Patient</a><br>
    <a href="/">Case Notes</a><br>
</div>
<span style="font-size:20px; cursor:pointer" onclick="openNav()">&#9776;Dashboard</span>

<script>
    function openNav() {
        document.querySelector('.sidebar').style.width = "250px";
    }

    function closeNav() {
        document.querySelector('.sidebar').style.width = "0";
    }
</script>



<p>
    Patient's name: <%= patient['name'] %>
    <%= patient['surname']%>
</p>

<% if logged_in? %>
    <form action="/patients/<%= patient['id']%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Remove</button>
    </form>
<% end %>
<a href="/patients/<%= patient['id'] %>/update">Update Details</a>



