<div class="sidebar">
  
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
  <a href="/">Home</a><br>
  <a href="/treatment_note">Patient's History</a><br>
  <a href="/new_pt">New Patient</a><br>
  <a href="/new_tn">Treatment Notes</a><br>
 
</div>
<span style="font-size:20px; cursor:pointer" onclick="openNav()">&#9776;Dashboard</span>
<h3>Patient ID</h3>

<%= treatment_note['patient_id'] %>

<h3>Medication History</h3>

<%= treatment_note['medication_history'] %>

<h3>Medical History</h3>

<%= treatment_note['medical_history'] %>

<h3>Correspondence</h3>

<%= treatment_note['correspondence'] %>

<h3>Results</h3>

<%= treatment_note['results'] %>

